@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-custom-image {
    background-image: url('/one.jpg');
    background-repeat: repeat;
    background-position: center;
  }
body{
  background-image: url('/one.jpg');
  background-repeat: repeat;
  background-position: center;
}
  .bg-footer-custome{
    background-image: url('/two.jpg');
    background-repeat: repeat;
    background-position: center;
  }
 
  .bg-button{
    background-image: url('/three.png');
    background-repeat: repeat;   
  }
  .bg-footer-top{
    background-image: url('/four.png');
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    background-position: top;
    background-repeat: repeat-x;
  }